.pink {
    color: pink;
    width: 10px;
    height: 10px;
}
.blue {
    color:blue;
    width: 10px;
    height: 10px;
}
.red{
    color: red;width: 10px;
    height: 10px;
}
.green{
    color: green;width: 10px;
    height: 10px;
}