<hr>
<h3>Enent Tutorial Section</h3>

<small>We will here talk about events in Angular.js</small>
<p>In Angular, events are actions that occur in the application, such as user interactions or system-generated events. Angular provides a way to handle these events using event binding.</p>
<small>Types Of Events In Angular</small>
<ul>
  <li>Click Events</li>
  <li>Mouse Events</li>
  <li>Keyboard Events</li>
  <li>Form Events</li>
  <li>Custom Events</li>
</ul>


<p  (click)="message('kkjkjkj')"  style="cursor: pointer;"  > pin krde</p>

<button  (click)="eventDetails($event)"  id="pepsi" name="Click me button"  style="cursor: pointer;"  >Click Me To See Event Object In Console !</button>

<div style="display: flex; flex-direction: row; justify-content: space-evenly ; margin-top: 5%; margin-right: 5%;" >

<div style="background-color: aquamarine; width: 80px; height:80px;" (mouseenter)="mouseEnter($event)" >Mouse Enter</div>

<div style="background-color: rgb(212, 173, 66); width: 80px; height: 80px;"  (mouseleave)="mouseLeave($event)" >Mouse Leave</div>

<div style="background-color: rgb(213, 99, 112); width: 80px; height: 80px;" (mouseover)="mouseOver($event)" >Mouse Over</div>



</div>

<hr>

<textarea 
style="margin-bottom: 5%;"
  (input)="handleTextInput($event)" 
  placeholder="Enter text..." 
  autocorrect="off" 
  autocapitalize="off" 
  spellcheck="false"
  disabled="true"
></textarea>
<div>
<!-- Input field with input event -->
<label for="inputField">Enter text without onchange:</label>
<input id="inputField" type="text" style="margin-bottom: 0%;" (input)="onInputChange($event)" />&nbsp;
<p>My Value is : {{inputValue}}</p>&nbsp;&nbsp; <br>
<!--  input mai onInputChange tab trigger hoga jab koi bhi character likhte hai  -->


<!-- Input field with onchange event -->
<label for="changeField">Enter text with onchange:</label>
<input id="changeField" name="changeField" type="text" (change)="onInputChangeFunc($event)"  />&nbsp;&nbsp;
<p>My Value is : {{inputChangeValue}}</p>&nbsp;&nbsp;
<!-- change is same like onchange of react , change mai onInputChangeFunc tab trigger hoga jab enter key press karenge -->

</div>


<hr>

<h3>Getter and Setter in Angular</h3>
<label for="userName"  >Enter User Name:</label>
<input type="text" id="userName"  placeholder="User Name Here..." (input)="storingName($event)"   > <br>
<p *ngIf="showUserName === ''">User Name is {{userName}}</p>
<p *ngIf="showUserName !== ''">User Name</p>
<button (click)="setUserName()" >Set UserName </button> &nbsp; 
<button (click)="getUserName()" >Get UserName </button>

<hr>

<h3>Template Reference Variables in Angular</h3>
<p>In Angular, you can add a <code>#variableName</code> to an element (like <code><input></code>).</p>
<p>This allows you to access the DOM element’s properties (like <code>.value</code>) directly in your event handlers from the template.</p>
<!-- Tutorial section added for template reference variables -->

<!-- Template Reference Variable Example -->
<label for="userInput">Enter something:</label>
<input #userInput type="text" placeholder="Enter something..." />
<button (click)="showValue(userInput.value)">Show Value</button>

<p>Here’s a full example using Angular template reference variables (#) with an <code><input></code>. You’ll see how to access different properties and use them in your component:</p>

<label for="cityInput">Enter City:</label>
<input #cityInput type="text" id="cityInpooo" placeholder="City Name" />

<!-- Accessing value property -->
<button (click)="showCity(cityInput.value)">Show Value</button>

<!-- Accessing other properties -->
<button (click)="showInputProps(cityInput)">Show All Properties</button>



<h3>Common Angular Event Bindings and Their Types</h3>

<table border="1" cellpadding="6" style="border-collapse: collapse; text-align: left;">
  <thead>
    <tr>
      <th>Template Event Binding</th>
      <th>TypeScript Parameter Type</th>
      <th>Example in .ts file</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>(click)="func($event)"</code></td>
      <td><code>MouseEvent</code></td>
      <td><code>func(event: MouseEvent) {{ '{' }} ... {{ '}' }}</code></td>
    </tr>
    <tr>
      <td><code>(input)="func($event)"</code></td>
      <td><code>Event</code></td>
      <td><code>func(event: Event) {{ '{' }} ... {{ '}' }}</code></td>
    </tr>
    <tr>
      <td><code>(change)="func($event)"</code></td>
      <td><code>Event</code></td>
      <td><code>func(event: Event) {{ '{' }} ... {{ '}' }}</code></td>
    </tr>
    <tr>
      <td><code>(mouseenter)="func($event)"</code></td>
      <td><code>MouseEvent</code></td>
      <td><code>func(event: MouseEvent) {{ '{' }} ... {{ '}' }}</code></td>
    </tr>
    <tr>
      <td><code>(mouseleave)="func($event)"</code></td>
      <td><code>MouseEvent</code></td>
      <td><code>func(event: MouseEvent) {{ '{' }} ... {{ '}' }}</code></td>
    </tr>
    <tr>
      <td><code>(mouseover)="func($event)"</code></td>
      <td><code>MouseEvent</code></td>
      <td><code>func(event: MouseEvent) {{ '{' }} ... {{ '}' }}</code></td>
    </tr>
    <tr>
      <td><code>(keydown)="func($event)"</code></td>
      <td><code>KeyboardEvent</code></td>
      <td><code>func(event: KeyboardEvent) {{ '{' }} ... {{ '}' }}</code></td>
    </tr>
    <tr>
      <td><code>(keyup)="func($event)"</code></td>
      <td><code>KeyboardEvent</code></td>
      <td><code>func(event: KeyboardEvent) {{ '{' }} ... {{ '}' }}</code></td>
    </tr>
  </tbody>
  Tip:

For most input-related events, use Event.
For mouse events, use MouseEvent.
For keyboard events, use KeyboardEvent.
</table>
